{% extends 'base.html' %}
{% block content %}
<h1>Mis licitaciones</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for c, msg in messages %}
    <div class="alert alert-{{ c }}">{{ msg }}</div>
  {% endfor %}
{% endwith %}

<div class="card mb-4">
  <div class="card-body">

       <form method="get" class="row g-3 mb-4 flex-nowrap">
      <div class="col-md-2">
        <input type="text" name="external_id" class="form-control" placeholder="Código externo" value="{{ request.args.get('external_id', '') }}">
      </div>
      <div class="col-md-2">
        <input type="text" name="title" class="form-control" placeholder="Título" value="{{ request.args.get('title', '') }}">
      </div>
      <div class="col-md-2">
        <select name="fecha_tipo" class="form-select">
          <option value="">-- Filtrar por fecha --</option>
          <option value="fecha_inicio" {{ 'selected' if request.args.get('fecha_tipo') == 'fecha_inicio' else '' }}>Fecha de inicio</option>
          <option value="fecha_adjudicacion" {{ 'selected' if request.args.get('fecha_tipo') == 'fecha_adjudicacion' else '' }}>Fecha de adjudicación</option>
        </select>
      </div>
      <div class="col-md-2">
        <input type="date" name="fecha_desde" class="form-control" value="{{ request.args.get('fecha_desde', '') }}">
      </div>
      <div class="col-md-2">
        <input type="date" name="fecha_hasta" class="form-control" value="{{ request.args.get('fecha_hasta', '') }}">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Filtrar</button>
      </div>
    </form>
    
    <table class="table">
      <thead>
        <tr>
        <th>Código externo</th>  
        <th>Titulo</th>
        <th>Inicio</th>
        <th>Fin</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for lic in licitaciones %}
      <tr>
        <td>{{ lic.external_id }}</td>
        <td>{{ lic.title }}</td>
        <td>{{ lic.fecha_inicio }}</td>
        <td>{{ lic.fecha_fin }}</td>
        <td>
          {% if lic.etapa_actual == 'Sobre2' %}
            <a href="{{ url_for('evaluador.evaluar', licitacion_id=lic.id) }}" class="btn btn-warning btn-sm">Evaluar</a>
          {% else %} 
            <a href="{{ url_for('evaluador.evaluar', licitacion_id=lic.id) }}" class="btn btn-secondary btn-sm disabled" tabindex="-1" aria-disabled="true">Evaluar</a>
          {% endif %}
          
          {% if lic.etapa_actual == 'Cerrada' %}
            <a href="{{ url_for('evaluador.informe', licitacion_id=lic.id) }}" class="btn btn-primary btn-sm">Resultados</a>
          {% else %}
            <a href="{{ url_for('evaluador.informe', licitacion_id=lic.id) }}" class="btn btn-secondary btn-sm disabled" tabindex="-1" aria-disabled="true">Resultados</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>
{% endblock %}